@import "./colors.scss";
@import "./mixins";
@import "./typography";
@import "./about.scss";
@import "./layouts.scss";
@import "./homepage.scss";
@import "./blog-index.scss";
@import "./ui-elements.scss";
@import "./component-styles/header.scss";
@import "./component-styles/footer.scss";
@import "./component-styles/social-links.scss";
@import "./component-styles/workModals.scss";

//  * { outline: #e8eff2 1px solid;}
// debug
body {
    margin: 0;
}
.main-despace {
    margin: 0;
    height: 1px;
}

a {
    text-decoration: none;
    @include transition(.1s ease-in-out);
    cursor: pointer;
    &:hover{
        color: var(--link-hover);
    }
}

#dark-mode-switch {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 1080px;
    padding-left: 1.8em;
    padding-right: 1.8em;
}

.row {
    margin: auto;
    max-width: 1200px;

}

.center {
    margin: 0 auto;
    text-align: center;
}

.page {
    margin-top: 40px;
}

.shadow {
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.2);
}

// ----- TEXT ----- //

.text-size-2 {
    font-size: 24px;
}

// ----- GENERAL LAYOUT ------ //


// ----- GENERAL EFFECTS ------ //

.hover-grow {
    transition: 0.1s ease-in-out;
    &:hover{
        transform: scale(1.1);
        transition: 0.1s ease-in-out;
    }
}

#dark-mode-switch:checked ~ .header {
    .light-hide {visibility: collapse;}
    .dark-hide {visibility: visible;}
}
.dark-hide {visibility: collapse;}