@import "./colors.scss";
@import "./mixins";
@import "./typography";
@import "./about.scss";
@import "./component-styles/header.scss";
@import "./component-styles/footer.scss";

//  * { outline: rgb(159, 228, 255) 1px solid;}
// debug

body{
    background-color: $white;
    margin: 0;
}

a {
    text-decoration: none;
    color: $link;
    @include transition(.1s ease-in-out);
    cursor: pointer;
    &:hover{
        color: $link-hover;
        text-decoration: none;
    }
}

.container {
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.row {
    margin: auto;
    max-width: 1200px;

}

.page {
    margin-top: 40px;
}

// ----- TEXT ----- //

.text-size-2 {
    font-size: 24px;
}


// ----- TEMP ------ //

.cover-image {
    max-width: 200px;
}

.hero-post, .blog-post-preview {
    box-shadow: 2px 2px 2px black;
    max-width: 200px;
}