footer {
    padding: 1em;
    position: initial;
    bottom:0;
    margin-bottom: 0;
    color: --white;
    background-color: --black;
    display: flex;
    justify-content: center;
    p {
        margin: 1em 2em;
        text-align: center;
    }
}

@media only screen and (max-width: 640px) {
    footer {
        flex-direction: column;
        p {
            margin: 0.5em;
        }
    }
}
