header {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--black);
    color: var(--white);
    position: fixed;
    z-index: 100;
    top: 0;
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(10px);

    .site-logo {
        height: 30%;
        align-self: center;
        margin-left: 1.2em;
        position: absolute;
        z-index: 10;
        svg {
            height: 100%;
            fill: darkgray;
            &:hover{
                fill: rgb(219, 219, 219);
                cursor: pointer;
            }
        }
    }

    .menu-container{
        height: 65px;
        width: 100%;
        display: flex;
        position: fixed;
        z-index: 1;

        nav {
            margin-left: auto;
            margin-right: auto;

                ul {
                    height: 100%;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    // padding-inline-start: 0;
                    align-items: center;
                    display: flex;
                    list-style-type: none;

                    a {
                        text-decoration: none;
                        padding: 0 20px 0 20px;
                        font-size: 20px;
                        transition: 0.13s;
                        color: var(--white);
                        &:hover{
                            color: var(--link-hover);
                        }
                    }
            }
        }
    }
    .nav-right {
        position: absolute;
        display: flex;
        right: 10px;
        height: 100%;
        z-index: 2;
        #dark-mode-toggle {
            display: flex;
            align-items: center;
            margin-right: 1em;
        }
        .menu-icon{
            height: 80%;
            align-self: center;
            margin-left: 10px;
            height: 50px;
            width: 50px;
            align-items: center;
            cursor: pointer;
            display: none;
        }
        svg {
            fill: darkgray;
            &:hover{
                fill: rgb(219, 219, 219);
                cursor: pointer;
            }
        }
    }
}

.header-spacer {
    height: 65px;
}


// ------------ MOBILE SIZE ----------- //

@media screen and (max-width: 850px) {
    header {
        .menu-container{
        width: 300px;
        height: calc(100% - 65px);
        flex-direction: column;
        background-color: --black;
        position: fixed;
        top: 65px;
        right: -300px;
        transition: transform 130ms ease;
        z-index: 20;

            nav ul {
                flex-direction: column;
                z-index: 1000;
                li {
                    width: 100%;
                }
            }
    
            &.active{
                // right: 0;
                transform: translate(-300px);
                background: rgba(0, 0, 0, 0.8);
                height: 100vh;
                backdrop-filter: saturate(180%) blur(10px);
            }
        }
        .nav-right{
            .menu-icon{
                display: flex;
            }
        }
    }
}

// .menu-container.active {
//     background: rgba(0, 0, 0, 0.8);
// }